<div class="row">
    <div class="box col-md-12">
        <div class="box-inner">
            <div class="box-header well">
                <h2><i class="glyphicon glyphicon-edit"></i> Filters</h2>

                <div class="box-icon">
                    <a href="#" class="btn btn-minimize btn-round btn-default">
                        <i class="glyphicon glyphicon-chevron-up"></i>
                    </a>
                </div>
            </div>
            <!-- App Filters -->
            <div class="box-content row" ng-app="app">
                <div class="col-lg-7 col-md-12">
                    Filters:
                    <br/>
                    
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="box col-md-12">
        <div class="box-inner">
            <div class="box-header well">
                <h2><i class="glyphicon glyphicon-info-sign"></i> {{selectedAction}} </h2>
            </div>
            <div class="box-content row">
                <div class="col-lg-7 col-md-12">
                    Design {{selectedAction}}
                    <br/>
                    <div style="">
                        <button class="btn btn-default" type="submit" onclick="draw2d(); return false;">Draw {{selectedAction}}</button>
                       
                    </div>
                    <div id="div_content_2d" style="border: thin solid; color black; width: 600px; height: 400px;">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

