<div class="row">
    <div class="box col-md-12">
        <div class="box-inner">
            <div class="box-header well">
                <h2><i class="glyphicon glyphicon-info-sign"></i> Introduction </h2>

                <div class="box-icon">
                    <a href="#" class="btn btn-minimize btn-round btn-default">
                        <i class="glyphicon glyphicon-chevron-up"></i>
                    </a>
                </div>
            </div>
            <div class="box-content row">
                <div class="col-lg-7 col-md-12">
                    <h1>Projet de Présentation de Données Web</h1>
                    <br/>
                    <small>Angular, NodeJs, 3DJS, Jquery, Boostrap, MongoDb, Json, Rest.</small>
                    <br/>
                    <p>
                    Description
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>