<!doctype html>
<html lang="en" ng-app="app">
<head>
    <meta charset="utf-8">
    <title>{{html_titre}}</title>
    
    <!-- The styles -->
    <link id="bs-css" href="css/{{css_template}}" rel="stylesheet">
    
    <link href="css/charisma-app.css" rel="stylesheet">
    <link href='bower_components/chosen/chosen.min.css' rel='stylesheet'>
    <link href='bower_components/colorbox/example3/colorbox.css' rel='stylesheet'>
    <link href='bower_components/responsive-tables/responsive-tables.css' rel='stylesheet'>
    <link href='bower_components/bootstrap-tour/build/css/bootstrap-tour.min.css' rel='stylesheet'>
    <script src="bower_components/jquery/jquery.min.js"></script>
    <!-- data table plugin -->
    <script src='js/jquery.dataTables.min.js'></script>
    <!-- 
    <script src='js/jquery-ui.js'></script>
    -->
    <script>
        $.noConflict();
    </script>

    <!-- Angular http://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js -->
    <script src="js/angular.min.js"></script>
    <!-- Angular http://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-route.min.js -->
    <script src="js/angular-route.min.js"></script>
    <script src="js/d3/d3.min.js" charset="utf-8"></script>
    <!-- http://threejs.org/build/three.min.js -->
    <script src="js/d3/three.min.js"></script>

    <!-- Jimmy angular project functions  -->
    <script src="js/project/angular_main.js"></script>
    <!-- Jimmy jquery and Other functions  -->
    <script src="js/project/project_helper.js"></script>
    <!-- 
    <script src="js/project/project_2D.js"></script>
    <script src="js/project/project_3D.js"></script>
    -->
    <!-- Jimmy 3d Plugins  -->
    <script src="js/d3/OrbitControls.js"></script>
    <script src="js/d3/FlyControls.js"></script>
    <script src="js/d3/Detector.js"></script>
    <script src="js/d3/stats.min.js"></script>

    
    <!-- The HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- The fav icon -->
    <link rel="shortcut icon" href="img/favicon.ico">

</head>

<body>
    <!-- topbar starts -->
    <div class="navbar navbar-default" role="navigation">

        <div class="navbar-inner">
            <button type="button" class="navbar-toggle pull-left animated flip">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" style="width: auto; float: left; padding: 0px; padding-left: 20px;  margin: 0px;" href="index.html"> 
                <img alt="{{project_name}} Project PDW" src="{{project_image}}" class="hidden-xs" style="width: 60px; height: 60px; " />
            </a>
            <a class="navbar-brand" style="width: 250px; float: left;" href="index.html"> 
                <span>{{project_name}} <br/> Projet PDW</span>
            </a>
            <!-- 
            <div>
                <select name="version_to_use" >
                    <option>asas</option>
                </select>
            </div>
            -->
            <!-- theme selector ends -->
        </div>
    </div>
    <!-- topbar ends -->
    <div class="ch-container">
        <div class="row">

            <!-- left menu starts -->
            <div class="col-sm-2 col-lg-2">
                <div class="sidebar-nav">
                    <div class="nav-canvas">
                        <div class="nav-sm nav nav-stacked">

                        </div>
                        <ul class="nav nav-pills nav-stacked main-menu">
                            <li class="nav-header">Main</li>
                            <li>
                                <a class="ajax-link" href="#/"><i class="glyphicon glyphicon-home"></i><span> Home</span></a>
                            </li>
                            <li><a class="ajax-link" href="#/1D">
                                <i class="glyphicon glyphicon-edit"></i><span> 1D</span></a>
                            </li>
                            <li class="nav-header hidden-md">3D JS</li>
                            <li>
                                <a class="ajax-link" href="#/2D">
                                 <i class="glyphicon glyphicon-globe"></i><span> 2D </span></a>
                            </li>
                            <li ng-if="enableMenu3D">
                                <a class="ajax-link" href="#/3D">
                                 <i class="glyphicon glyphicon-eye-open"></i><span> 3D</span></a>
                            </li>
                            <li ng-if="enableMenu3DSites">
                                <a class="ajax-link" href="#/3D-football">
                                 <i class="glyphicon glyphicon-eye-open"></i><span> 3D Football</span></a>
                            </li>
                            <li ng-if="enableMenu3DSites">
                                <a class="ajax-link" href="#/3D-tennis">
                                 <i class="glyphicon glyphicon-eye-open"></i><span> 3D Tennis</span></a>
                            </li>
                            <!-- 
                            <li>
                                <a class="ajax-link" href="#/map">
                                 <i class="glyphicon glyphicon-eye-open"></i><span> map</span></a>
                            </li>
                            -->
                        </ul>
                    </div>
                </div>
                <div class=" row">
                </div>
                <div class="main-menu">
                    <!-- Filters -->
                    <div class="row" ng-if="enableFiltersLeft">
                        <div class="box col-md-12">
                            <div class="box-inner">
                                <div class="box-header well">
                                    <h2><i class="glyphicon glyphicon-edit"></i> Filters {{formAction}}</h2>
                                </div>
                                <!-- App Filters -->
                                <div class="box-content" ng-app="app">
                                    <!-- Form Filters  -->
                                    <form ng-controller="SportStatisticsfilterController" id="form_filters" >
                                        <!-- Angular  -->
                                        <div class="row">
                                            <!-- 
                                            <div class="col-md-2" style="align: right;">
                                                <button class="btn btn-default" type="submit" ng-click="sendFilterForm()" > Filter Data </button>
                                            </div>
                                            -->
                                            <div class="col-md-2" style="align: right;">
                                                <button class="btn btn-default" type="reset" clear-filters> Clear Filters </button>
                                            </div>
                                        </div>
                                        <div class="row" ng-repeat="(filterKey, filterValue) in filtersData" >
                                            <div class='col-md-1' style='width: auto;' >
                                                <div class="form-group">
                                                    <label for="{{filterKey}}"><b>{{filterKey}}</b></label>
                                                    <select multiple='multiple' id='filter_select_{{filterKey}}' name='{{filterKey}}' class='form-control' filter-ready=''>
                                                        <option ng-repeat="filterRow in filterValue" value='{{filterRow}}'  >{{filterRow}}</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--/span-->
            <div id="content" class="col-lg-10 col-sm-10">
                <!-- content starts -->
                <div>
                    <ul class="breadcrumb">
                        <li>
                            <a href="#">Project</a>
                        </li>
                        <li>
                            <a href="#" >{{selectedAction}}</a>
                        </li>
                    </ul>
                </div>
                <div class=" row">
                </div>
                <!-- Jimmy: Main view to load the templates-->
                <div>
                    <ng-view></ng-view>
                </div>

                <div class="row">

                    <!--/span-->
                </div><!--/row-->
                <!-- content ends -->
            </div><!--/#content.col-md-0-->
        </div><!--/fluid-row-->

    <footer class="row">
        <p class="col-md-9 col-sm-9 col-xs-12 copyright">&copy; <a href="mailto:{{collaborators['email1']}}" target="_blank">{{collaborators['name1']}}</a> - <a href="mailto:{{collaborators['email2']}}" target="_blank">{{collaborators['name2']}}</a> 2015 - 2016</p>
        <p class="col-md-3 col-sm-3 col-xs-12 powered-by"> UM2 Faculté de Sciences</p>
    </footer>

</div><!--/.fluid-container-->
<style type="text/css">
div.tooltip {   
  position: absolute;           
  text-align: center;           
  width: auto;                  
  height: 30px;                 
  padding: 2px;             
  font: 12px sans-serif;        
  background: lightsteelblue;   
  border: 0px;      
  border-radius: 8px;           
  pointer-events: none;         
}
div.tooltip_3d {   
  position: absolute;           
  text-align: center;           
  width: 1024px;                  
  height: 768px;                 
  padding: 5px;             
  font: 12px sans-serif;        
  background: white;   
  border: 0px;
  top: 300px;     
  left: 10%;     
  border-radius: 8px;           
  pointer-events: none;
  z-index: 1000;        
}
</style>
<div id="tooltip" class="tooltip" style="opacity: 0;"></div>
<div id="tooltip_3d" class="tooltip_3d" style="opacity: 0;">
    <!-- -->
    <div style="float: left; position: absolute; color: red; font-size: 2em; z-index: 2; cursor: pointer; " onclick="closeSoccerField(); ">Close</div>
    <div id="container_iframe_3d" style="width: 100%; height:95%;  z-index: 1;"></div>
</div>
</body>
</html>
