
<!-- Content -->
<div class="row">
    <div class="box col-md-12">
        <div class="box-inner">
            <div class="box-header well">
                <h2><i class="glyphicon glyphicon-info-sign"></i> {{selectedAction}} </h2>
            </div>
            <div class="box-content row">
                <div class="col-lg-12 col-md-12">
                    <h1>{{selectedAction}}</h1>
                    <p>
                        Description {{selectedAction}}
                        <div>
                            {{filtered}}
                        </div>
                    </p>
                    <div class="box-header well" data-original-title="">
                        <h2><i class="glyphicon glyphicon-th"></i> {{city}} Data</h2>
                    </div>
                    <!-- 
                    <div class="box-content">
                        <div class="row" >
                            <div class="col-md-2" ng-repeat="titre in titres">
                                <h6><b>{{titre}}</b></h6>
                            </div>
                        </div>
                        <div class="row" ng-repeat="row in practice">
                            <div class="col-md-2" ng-repeat="value in row">
                                <h6>{{value}}</h6>
                            </div>
                        </div>
                    </div>
                    -->
                    <div id="table_data_1d">
                        <table class="table table-striped table-bordered bootstrap-datatable datatable responsive">
                            <thead>
                                <tr role="row">
                                   <th ng-repeat="titre in titres">
                                    {{titre}}
                                    </th>
                                </tr>
                            </thead>
                            
                            <tbody role="alert" aria-live="polite" aria-relevant="all">
                                <tr ng-repeat="row in practice">
                                    <td ng-repeat="value in row">
                                        {{value}}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                   
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 
<div ng-bind-html="renderHtml(practice.value)"></div>
-->