<!-- Content -->
<div class="row">
    <div class="box col-md-12">
        <div class="box-inner">
            <div class="box-header well">
                <h2><i class="glyphicon glyphicon-globe"></i> {{selectedAction}} - Montpellier</h2>
            </div>
            <div class="box-content row">
                <div class="col-lg-7 col-md-12">
                    <h1>{{selectedAction}}</h1>
                    <p>
                        Description {{selectedAction}}
                        <div>
                            {{filtered}}
                        </div>
                    </p>
                    <div style="position: relative; width: 1000px; height: 910px;">
                        <!-- 
                        <object data="svg/Montpellier_OSM_map_with_divisions.svg" type="image/svg+xml" style="position: absolute; top: 0px; left:0px; width: 100%; z-index: -5;" >
                        </object>
                        -->
                        <img src="img/Montpellier_OSM_map_with_divisions.png" style="position: absolute; top: 0px; left:0px; width: 100%; z-index: -5;" />

                        <div id="div_content_2d" style="position: absolute; top: 0px; left:0px; color black; width: 100%; height: 100%; background-size: 600px auto; background-repeat: no-repeat; z-index: 1;" display-second-dimenstion='' >
                        </div>
                        <div id="legend2D" style="position: absolute; top: 10px; right:10px; border: thin solid; color black; width: 330px; height: auto; background-color: #FFFFFF; z-index: 2;">
                             <div class="box-content" style="padding: 0px;">
                                <div class="row" style="height: 24px; margin:0px; ">
                                    <div class="col-md-6">
                                        <h6><b>nameQuarter</b></h6>
                                    </div>
                                    <div class="col-md-2">
                                        <h6><b>nbHours</b></h6>
                                    </div>
                                    <div class="col-md-3">
                                        <h6><b>%</b></h6>
                                    </div>
                                </div>
                                <div class="row" ng-repeat="legend in legend2DData" style="height: 24px; margin:0px; ">
                                    <div class="col-md-6">
                                        <h6>
                                            <div style='width: 15px; height:15px; float: left; background-color: {{legend["color"]}};'></div>
                                            <div style="padding-left: 10px; padding-top: 3px; font-size: 1em; float: left; "> {{legend["nameQuarter"]}} </div> 
                                        </h6>
                                    </div>
                                    <div class="col-md-2">
                                        <h6>{{legend["nbHoursQ"]}}</h6>
                                    </div>
                                    <div class="col-md-3">
                                        <h6>{{legend["percentageQ"]}} %</h6>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

