<!-- Filters -->
<div class="row">
    <div class="box col-md-12">
        <div class="box-inner">
            <div class="box-header well">
                <h2><i class="glyphicon glyphicon-edit"></i> Filters</h2>

                <div class="box-icon">
                    <a href="#" class="btn btn-minimize btn-round btn-default">
                        <i class="glyphicon glyphicon-chevron-up"></i>
                    </a>
                </div>
            </div>
            <!-- App Filters -->
            <div class="box-content row" ng-app="app">
                <div class="col-lg-12 col-md-12">
                    <!-- Form Filters  -->
                    <form ng-controller="SportSitesFilterController" id="form_filters" >
                    <!-- 
                    <form ng-submit="sendFilterForm()" id="form_filters" >
                    -->
                        <!-- JavaScript id -->
                        <div class="row" id="filters_content">
                        </div>
                        <!-- Angular  -->
                        <div class="row">
                            <div class='col-md-1' style='width: auto;' ng-repeat="(filterKey, filterValue) in filtersData">
                                {{filterKey}}: <br>
                                <select id='filter_select_{{filterKey}}' name='{{filterKey}}'>
                                    <option ng-repeat="filterRow in filterValue" value='{{filterRow}}'  >{{filterRow}}</option>
                                </select>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-2" style="align: right;">
                                <button type="submit" ng-click="sendFilterForm()" > Filter Data </button>
                                <button type="reset"> Clear Filters </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Content -->
<div class="row">
    <div class="box col-md-12">
        <div class="box-inner">
            <div class="box-header well">
                <h2><i class="glyphicon glyphicon-info-sign"></i> {{selectedAction}} </h2>
            </div>
            <div class="box-content row">
                <div class="col-lg-12 col-md-12">
                    <h1>{{selectedAction}}</h1>
                    <p>
                    Description 1D
                    <div>
                        {{filtered}}
                    </div>
                    </p>
                        
                    <div class="box-content">
                        <div class="row" >
                            <div class="col-md-2" ng-repeat="titre in titres">
                                <h6><b>{{titre}}</b></h6>
                            </div>
                        </div>
                        <div class="row" ng-repeat="row in practice">
                            <div class="col-md-2" ng-repeat="value in row">
                                <h6>{{value}}</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>