<!-- Content -->
<div class="row">
    <div class="box col-md-12">
        <div class="box-inner">
            <div class="box-header well">
                <h2><i class="glyphicon glyphicon-info-sign"></i> {{selectedAction}} </h2>
            </div>
            <div class="box-content row">
                <div class="col-lg-7 col-md-12">
                    Design {{selectedAction}}
                    <br/>
                    <div style="position: relative; width: 1000px; height: 910px;">
                        <div id="div_content_3d" style="position: absolute; top: 0px; left:0px; border: thin solid; color black; width: 100%; height: 100%; background-size: 600px auto; background-repeat: no-repeat; z-index: 2;">
                            <iframe src="3D/soccer_field/soccer_field.html" style="width: 100%; height:100%; "></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

