
<!-- Content -->
<div class="row">
    <div class="box col-md-12">
        <div class="box-inner">
            <div class="box-header well">
                <h2><i class="glyphicon glyphicon-info-sign"></i> {{selectedAction}} </h2>
            </div>
            <div class="box-content row">
                <div class="col-lg-12 col-md-12">
                    <h1>{{selectedAction}}</h1>
                    <p>
                        Description {{selectedAction}}
                        <div>
                            {{filtered}}
                        </div>
                    </p>
                    <div class="box-header well" data-original-title="">
                        <h2><i class="glyphicon glyphicon-th"></i> {{city}} Data</h2>

                        <div class="box-icon">
                            <a href="#" class="btn btn-setting btn-round btn-default"><i
                                    class="glyphicon glyphicon-cog"></i></a>
                            <a href="#" class="btn btn-minimize btn-round btn-default"><i
                                    class="glyphicon glyphicon-chevron-up"></i></a>
                            <a href="#" class="btn btn-close btn-round btn-default"><i
                                    class="glyphicon glyphicon-remove"></i></a>
                        </div>
                    </div>
                    <div class="box-content">
                        <div class="row" >
                            <div class="col-md-2" ng-repeat="titre in titres">
                                <h6><b>{{titre}}</b></h6>
                            </div>
                        </div>
                        <div class="row" ng-repeat="row in practice">
                            <div class="col-md-2" ng-repeat="value in row">
                                <h6>{{value}}</h6>
                            
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 
<div ng-bind-html="renderHtml(practice.value)"></div>
-->