<!-- Filters -->
<div class="row">
    <div class="box col-md-12">
        <div class="box-inner">
            <div class="box-header well">
                <h2><i class="glyphicon glyphicon-edit"></i> Filters</h2>

                <div class="box-icon">
                    <a href="#" class="btn btn-minimize btn-round btn-default">
                        <i class="glyphicon glyphicon-chevron-up"></i>
                    </a>
                </div>
            </div>
            <!-- App Filters -->
            <div class="box-content row" ng-app="app">
                <div class="col-lg-12 col-md-12">
                    <!-- Form Filters  -->
                    <form ng-controller="filterController" id="form_filters" >
                    <!-- 
                    <form ng-submit="sendFilterForm()" id="form_filters" >
                    -->
                        <!-- JavaScript id -->
                        <div class="row" id="filters_content">
                        </div>
                        <!-- Angular  -->
                        <div class="row">
                            <div class='col-md-1' style='width: auto;' ng-repeat="(filterKey, filterValue) in filtersData">
                                {{filterKey}}: <br>
                                <select multiple='multiple' id='filter_select_{{filterKey}}' name='{{filterKey}}'>
                                    <option ng-repeat="filterRow in filterValue" value='{{filterRow}}'  >{{filterRow}}</option>
                                </select>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-2" style="align: right;">
                                <button type="submit" ng-click="sendFilterForm()" > Filter Data </button>
                                <button type="reset"> Clear Filters </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Content -->
<div class="row">
    <div class="box col-md-12">
        <div class="box-inner">
            <div class="box-header well">
                <h2><i class="glyphicon glyphicon-info-sign"></i> {{selectedAction}} </h2>
            </div>
            <div class="box-content row">
                <div class="col-lg-7 col-md-12">
                    Design {{selectedAction}}
                    <br/>
                    <div style="">
                        <button class="btn btn-default" type="submit" onclick="draw3d(); return false;">Draw {{selectedAction}}</button>
                    </div>
                    <div id="div_content_3d" style="border: thin solid; color black; width: 600px; height: 400px;">
                    </div>
                    <style type="text/css">
                        svg{
                            position:relative;
                            top:0px;
                            left:0px;
                        }
                        .node {
                          stroke: #fff;
                          stroke-width: 1.5px;
                        }

                        .link {
                          stroke: #999;
                          stroke-opacity: .6;
                        }
                    </style>
                    <div ng-controller="AppCtrl" style="display: block;" >
                        <div sports-statistics></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

