<!-- Test Map -->
<div class="row">
    <div class="box col-md-12">
        <div class="box-inner">
            <div class="box-header well">
                <h2><i class="glyphicon glyphicon-info-sign"></i> {{selectedAction}} </h2>
            </div>
            <div class="box-content row">
                <div class="col-lg-7 col-md-12">
                    <img src="http://2.bp.blogspot.com/-01n8u4ZzROw/Vjzc_uByaEI/AAAAAAAAsl0/8px4xQ4PvLQ/s1600/oslo3d.gif"/>
                    <div style="border: thin solid; color black; width: 600px; height: 400px;">
                    <iframe src="testmaps.html" style="width: 100%; height:100%; "></iframe>
                    <!-- 
                    -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<a href="http://blog.thematicmapping.org/2015/11/mapping-grid-based-statistics-with.html">http://blog.thematicmapping.org/2015/11/mapping-grid-based-statistics-with.html</a></br>
<a href="https://www.openstreetmap.org/#map=13/43.6047/3.8605">https://www.openstreetmap.org/#map=13/43.6047/3.8605</a></br>
<a href="https://switch2osm.org/fr/servir-des-tuiles/">https://switch2osm.org/fr/servir-des-tuiles/</a></br>
<a href="http://blog.stephenboak.com/2011/08/07/easy-as-a-pie.html">http://blog.stephenboak.com/2011/08/07/easy-as-a-pie.html</a></br>
<a href="http://www.amcharts.com/demos/column-with-rotated-series/">http://www.amcharts.com/demos/column-with-rotated-series/</a></br>
<a href="http://wiki.openstreetmap.org/wiki/Google_Maps_Example">http://wiki.openstreetmap.org/wiki/Google_Maps_Example</a></br>
<a href="http://blog.octo.com/retour-dexperience-angularjs-d3-js-au-service-de-la-dataviz/">http://blog.octo.com/retour-dexperience-angularjs-d3-js-au-service-de-la-dataviz/</a></br>
<a href="https://www.mapbox.com/tilemill/">https://www.mapbox.com/tilemill/</a></br>
